<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>About Bojack Horseman</title>
  </head>
  <body>
    <div id="container">
      <div id="img-title">
        <img src="#" alt="#" id="img" />
        <h3 id="title">This is a title</h3>
      </div>
      <article id="article">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
        voluptatem amet aperiam ullam nulla. Nam cumque magnam alias amet
        perferendis placeat minima quis, aperiam nihil consequuntur tempore
        nulla voluptate mollitia.
      </article>
      <nav class="nav-buttons">
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/more-info">More Info</a>
      </nav>
    </div>
  </body>
</html>
