<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>About Bojack Horseman</title>
  </head>
  <body>
    <div id="container-2">
      <div id="img-container">
        <img src="img/bojack-home.png" alt="bojack-avatar" id="img" />
      </div>
      <h3 id="title">About Bojack Horseman</h3>
      <article id="article-2">
        BoJack Horseman, a self-loathing cynical alcoholic horse currently in
        his 50s, whose acting career peaked when he starred in a successful
        1990s family sitcom called Horsin' Around. Though he began as a young
        bright-eyed actor, he has since grown bitter, deeply depressed, and
        jaded towards Hollywoo and who he has become post-fame.
      </article>
      <nav class="nav-buttons">
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="https://youtu.be/mCdA4bJAGGk">More Info</a>
      </nav>
    </div>
  </body>
</html>
