<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Bojack Horseman - HOME</title>
  </head>
  <body>
    <div id="container">
      <div id="img-container">
        <img src="img/bojack-home.png" alt="bojack-avatar" id="img" />
      </div>
      <h3 id="title">Bojack Horseman</h3>
      <article id="article">
        BoJack Horseman is an American adult animated black comedy-drama
        streaming television series. he series revolves around an
        anthropomorphic horse named BoJack Horseman.
      </article>
      <nav class="nav-buttons">
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
        <a href="/more-info">More Info</a>
      </nav>
    </div>
  </body>
</html>
