@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@200&display=swap");
body {
  background-color: #f5dee7;
  font-family: "Montserrat", sans-serif;
}

#title {
  font-family: "Dancing Script", cursive;
}
